<div class="modal fade" id="removeTeamFromEventModal" tabindex="-1" role="dialog" aria-labelledby="removeTeamFromEventModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeTeamFromEventLabel">Team aus Event entfernen</h5>
                <button type="button" #closeDeleteModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bist du sicher, dass du das Team {{removeTeam?.teamName}} aus dem Event {{removeFromEvent?.eventName}} entfernen möchtest?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nein</button>
                    <button (click)="onRemoveTeamFromEvent(removeFromEvent!.eventId, removeTeam!.teamId)" class="btn btn-danger" data-dismiss="modal">Ja</button>
                </div>
            </div>
        </div>
    </div>
</div>