<div class="modal fade" id="removeTeammemberFromTeamModal" tabindex="-1" role="dialog" aria-labelledby="removeTeammemberFromTeamLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeTeammemberFromTeamLabel">Teammitglied aus Team entfernen</h5>
                <button type="button" #closeDeleteModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bist du sicher, dass du das Teammitglied {{removeTeammember?.firstName}} {{removeTeammember?.lastName}} aus dem Team {{removeFromTeam?.teamName}} entfernen möchtest?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nein</button>
                    <button (click)="onRemoveTeammembersFromTeam(removeFromTeam!.teamId, removeTeammember!.id)" class="btn btn-danger" data-dismiss="modal">Ja</button>
                </div>
            </div>
        </div>
    </div>
</div>