<div class="modal fade" id="addTeamToEventModal" tabindex="-1" role="dialog" aria-labelledby="addTeamToEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTeamToEventModalLabel">Team zum Event {{addToEvent?.eventName}} hinzufügen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Notification for no teams -->
                <div *ngIf="teams?.length==0 " class="col-lg-12 col-md-12 col-xl-12 ">
                    <div class="alert alert-info " role="alert ">
                        <h4 class="alert-heading ">Keine Teams!</h4>
                        <p>Keine Teams gefunden.</p>
                    </div>
                </div>
                <form class="d-flex m-2">
                    <input class="form-control me-2" type="search" (ngModelChange)="searchTeam(key.value)" #key="ngModel" ngModel name="key" id="searchName" placeholder="Suche Teams..." required>
                </form>
                <app-alert [alert]="alert" [fading]="false" [type]="alertType" *ngIf="alert" (close)="alert=null;"></app-alert>

                <div *ngFor="let team of teams" class="row">
                    <div class="container col-md-12">
                        <div class="row">
                            <div class="col-2">
                                <img src="assets/volleyball.png" alt="" class="img-fluid rounded-circle w-60">
                            </div>
                            <div class="col-8 card-title align-self-center mb-0">
                                <h5>{{team?.teamName}} ({{team?.teamMembersEager?.length}} Mitglieder)</h5>
                            </div>
                            <div class="col-2 card-title align-self-center mb-0">
                                <div class="float-end btn-group btn-group-sm">
                                    <button (click)="onAddTeamToEvent(team!, addToEvent!)" class="btn btn-primary tooltips " data-placement="top " data-original-title="Add "><i class="bi bi-plus-lg "></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>