<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Volleyball-Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active">Mitglieder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onOpenModal('add')">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onOpenModal('add')">Events</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" (ngModelChange)="searchPerson(key.value)" #key="ngModel" ngModel name="key" id="searchName" placeholder="Suche Personen..." required>
        </form>
    </div>
</nav>
<div class="container" id="main-container">
    <div class="btn-group dropleft fixed-button">
        <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i> 
        </button>
        <div class="dropdown-menu">
            <a (click)="onOpenModal('add')" class="dropdown-item tooltips" data-placement="top" data-original-title="ContectualMenu"><i class="bi bi-plus-lg"></i> Person hinzufügen</a>
        </div>
    </div>
    <app-alert class="m-1" [alert]="alert" [fading]="false" [type]="alertType" *ngIf="alert" (close)="alert=null;"></app-alert>
    <div class="row">
        <div *ngFor="let person of persons" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-4">
                        <img src="assets/avatar.png" alt="" class="img-fluid rounded-circle w-60">
                        <i *ngIf="person?.gender=='m'" class="bi bi-gender-male"></i>
                        <i *ngIf="person?.gender=='f'" class="bi bi-gender-female"></i>
                        <i *ngIf="person?.gender=='d'" class="bi bi-gender-ambiguous"></i>
                    </div>
                    <div class="col-8 card-title align-self-center mb-0">
                        <h5>{{person?.firstName}}<br/>{{person?.lastName}}</h5>
                        <p class="m-0">{{ person?.dateOfBirth | date:'dd.MM.YYYY' }}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="p-1"><i class="bi bi-envelope float-right"></i></div>
                            <div class="p-1">{{person?.emailaddressPlayer}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="p-1"><i class="bi bi-telephone float-right"></i></div>
                            <div class="p-1">{{person?.mobileNumberPlayer}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="p-1"><i class="bi bi-house-door"></i></div>
                            <div class="p-1">{{person?.street}} {{person?.streetNb}}<br/>{{person?.postalCode}} {{person?.location}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="p-1"><i *ngIf="person?.isPlayer; else showFalse" class="bi bi-check-circle text-success"></i>
                            </div>
                            <div class="p-1">Spieler/in</div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-1"><i *ngIf="person?.isTrainer; else showFalse" class="bi bi-check-circle text-success"></i>
                            </div>
                            <div class="p-1">Trainer/in</div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-1"><i *ngIf="person?.isAdmin; else showFalse" class="bi bi-check-circle text-success"></i>
                            </div>
                            <div class="p-1">Admin</div>
                        </div>
                    </li>
                    <ng-template #showFalse><i class="bi bi-x-circle text-danger"></i></ng-template>
                </ul>
                <div class="card-body">
                    <div class="float-end btn-group btn-group-sm">
                        <a (click)="onOpenModal('edit', person)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="bi bi-pencil"></i> </a>
                        <a (click)="onOpenModal('delete', person)" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Person Form-->
    <addperson-form (getPersons)="getPersons()"></addperson-form>

    <!-- Edit Person Form -->
    <editperson-form (getPersons)="getPersons()" [editPerson]="editPerson"></editperson-form>

    <!-- Delete Modal -->
    <deleteperson-form (getPersons)="getPersons()" [deletePerson]="deletePerson"></deleteperson-form>

</div>

<!-- Notification for no persons -->
<div *ngIf="persons?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Keine Personen!</h4>
        <p>(Noch) keine Personen gefunden.</p>
    </div>
</div>