<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Volleyball-Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/teammembers">Mitglieder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/teams">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/teams">Events</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" (ngModelChange)="searchTeammember(key.value)" #key="ngModel" ngModel name="key" id="searchName" placeholder="Suche Teammitglieder..." required>
        </form>
    </div>
</nav>
<router-outlet></router-outlet>