<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Volleyball-Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active">Mitglieder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onOpenModal('add')">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onOpenModal('add')">Events</a>
            </li>
            <!--<li class="nav-item active">
                <a class="nav-link" (click)="onOpenModal('add')">Person hinzufügen <span class="sr-only">(current)</span></a>
            </li>-->
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" (ngModelChange)="searchPerson(key.value)" #key="ngModel" ngModel name="key" id="searchName" placeholder="Suche Personen..." required>
        </form>
    </div>
</nav>
<div class="container" id="main-container">
    <div class="btn-group dropleft fixed-button">
        <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i> 
        </button>
        <div class="dropdown-menu">
            <a (click)="onOpenModal('add')" class="dropdown-item tooltips" data-placement="top" data-original-title="ContectualMenu"><i class="bi bi-plus-lg"></i> Person hinzufügen</a>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let person of persons" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-4">
                        <img src="assets/avatar.png" alt="" class="img-fluid rounded-circle w-60">
                        <i *ngIf="person?.gender=='m'" class="bi bi-gender-male"></i>
                        <i *ngIf="person?.gender=='f'" class="bi bi-gender-female"></i>
                        <i *ngIf="person?.gender=='d'" class="bi bi-gender-ambiguous"></i>
                    </div>
                    <div class="col-8 card-title align-self-center mb-0">
                        <h5>{{person?.firstName}}<br/>{{person?.lastName}}</h5>
                        <p class="m-0">{{ person?.dateOfBirth | date:'dd.MM.YYYY' }}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="p-1"><i class="bi bi-envelope float-right"></i></div>
                            <div class="p-1">{{person?.emailaddressPlayer}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="p-1"><i class="bi bi-telephone float-right"></i></div>
                            <div class="p-1">{{person?.mobileNumberPlayer}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="p-1"><i class="bi bi-house-door"></i></div>
                            <div class="p-1">{{person?.street}} {{person?.streetNb}}<br/>{{person?.postalCode}} {{person?.location}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="p-1"><i *ngIf="person?.isPlayer; else showFalse" class="bi bi-check-circle text-success"></i>
                            </div>
                            <div class="p-1">Spieler/in</div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-1"><i *ngIf="person?.isTrainer; else showFalse" class="bi bi-check-circle text-success"></i>
                            </div>
                            <div class="p-1">Trainer/in</div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-1"><i *ngIf="person?.isAdmin; else showFalse" class="bi bi-check-circle text-success"></i>
                            </div>
                            <div class="p-1">Admin</div>
                        </div>
                    </li>
                    <ng-template #showFalse><i class="bi bi-x-circle text-danger"></i></ng-template>
                </ul>
                <div class="card-body">
                    <div class="float-end btn-group btn-group-sm">
                        <a (click)="onOpenModal('edit', person)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="bi bi-pencil"></i> </a>
                        <a (click)="onOpenModal('delete', person)" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Person Modal -->
    <div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog" aria-labelledby="addPersonModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPersonModalLabel">Person hinzufügen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddPerson(addForm)">
                        <div class="form-group mb-3">
                            <label for="firstName">Vorname</label>
                            <input type="text" ngModel #firstName="ngModel" [class.is-valid]="firstName.valid && firstName.touched" [class.is-invalid]="firstName.invalid && (firstName.dirty || firstName.touched)" name="firstName" class="form-control" id="firstName" placeholder="Vorname"
                                required>
                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
                                <div *ngIf="firstName.errors?.['required']">
                                    Der Vorname wird benötigt.
                                </div>
                            </div>
                            <label for="lastName">Nachname</label>
                            <input type="text" ngModel #lastName="ngModel" [class.is-valid]="lastName.valid && lastName.touched" [class.is-invalid]="lastName.invalid && (lastName.dirty || lastName.touched)" name="lastName" class="form-control" id="lastName" placeholder="Nachname"
                                required>
                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="invalid-feedback">
                                <div *ngIf="lastName.errors?.['required']">
                                    Der Nachname wird benötigt.
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="dateOfBirth">Geburtsdatum</label>
                            <input type="date" ngModel #dateOfBirth="ngModel" [class.is-valid]="dateOfBirth.valid && dateOfBirth.touched" [class.is-invalid]="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)" name="dateOfBirth" class="form-control" id="dateOfBirth"
                                placeholder="Geburtsdatum" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="emailaddressPlayer">Email Address</label>
                            <input type="email" ngModel #email="ngModel" [class.is-valid]="email.valid && email.touched" [class.is-invalid]="email.invalid && (email.dirty || email.touched)" name="emailaddressPlayer" class="form-control" id="emailaddressPlayer" placeholder="name@gmail.com"
                                required email>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                                <div *ngIf="email.errors?.['required']">
                                    Die Emailadresse wird benötigt.
                                </div>
                                <div *ngIf="email.errors?.['email']">
                                    Das ist keine gültige Emailadresse.
                                </div>
                            </div>
                            <label for="gender">Geschlecht</label>
                            <select class="form-select" ngModel #gender="ngModel" [class.is-valid]="gender.valid && gender.touched" [class.is-invalid]="gender.invalid && (gender.dirty || gender.touched)" name="gender" class="form-control" id="gender" aria-label="Geschlecht" required>
                                <option value="m">männlich</option>
                                <option value="f">weiblich</option>
                                <option value="d">divers</option>
                            </select>
                            <label for="mobileNumberPlayer">Telefonnummer (mobil)</label>
                            <input type="tel" ngModel #mobileNumber="ngModel" [class.is-valid]="mobileNumber.valid && mobileNumber.touched" [class.is-invalid]="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" name="mobileNumberPlayer" class="form-control" id="mobileNumberPlayer"
                                placeholder="Telefonnummer" pattern="\+\d{1,2} \d{2} \d{3} \d{2} \d{2}" required>
                            <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" class="invalid-feedback">
                                <div *ngIf="mobileNumber.errors?.['required']">
                                    Die Telefonnummer wird benötigt.
                                </div>
                                <div *ngIf="mobileNumber.errors?.['pattern']">
                                    Die Telefonummer sollte das Format "+41 78 888 88 88" haben.
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="street">Strasse</label>
                                    <input type="text" ngModel #street="ngModel" name="street" [class.is-valid]="street.valid && street.touched" [class.is-invalid]="street.invalid && (street.dirty || street.touched)" class="form-control" id="street" placeholder="Strasse" required>
                                </div>
                                <div class="col-md-4">
                                    <label for="streetNb">Nummer</label>
                                    <input type="text" ngModel #streetNb="ngModel" name="streetNb" [class.is-valid]="streetNb.valid && streetNb.touched" [class.is-invalid]="streetNb.invalid && (streetNb.dirty || streetNb.touched)" class="form-control" id="streetNb" placeholder="" required>
                                </div>
                                <div *ngIf="(street.invalid && (street.dirty || street.touched)) || (streetNb.invalid && (streetNb.dirty || streetNb.touched))" class="invalid-feedback">
                                    <div *ngIf="street.errors?.['required'] || streetNb.errors?.['required']">
                                        Die Strasse und die Hausnummer wird benötig.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="postalCode">Strasse</label>
                                    <input type="number" ngModel #postalCode="ngModel" name="postalCode" [class.is-valid]="postalCode.valid && postalCode.touched" [class.is-invalid]="postalCode.invalid && (postalCode.dirty || postalCode.touched)" class="form-control" id="postalCode" placeholder="PLZ"
                                        required pattern="\+\d{4}">
                                    <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" class="invalid-feedback">
                                        <div *ngIf="postalCode.errors?.['required']">
                                            Die Postleitzahl wird benötigt.
                                        </div>
                                        <div *ngIf="mobileNumber.errors?.['pattern']">
                                            Die Postleitzahl sollte vierstellig sein.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <label for="location">Ort</label>
                                    <input type="text" ngModel #location="ngModel" name="location" [class.is-valid]="location.valid && location.touched" [class.is-invalid]="location.invalid && (location.dirty || location.touched)" class="form-control" id="location" placeholder="Ort" required>
                                </div>
                                <div *ngIf="location.invalid && (location.dirty || location.touched)" class="invalid-feedback">
                                    <div *ngIf="location.errors?.['required']">
                                        Der Ort wird benötigt.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" ngModel name="isPlayer" type="checkbox" role="switch" id="isPlayer">
                                <label class="form-check-label" for="isPlayer">Spieler/in</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" ngModel name="isTrainer" type="checkbox" role="switch" id="isTrainer">
                                <label class="form-check-label" for="isTrainer">Trainer/in</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" ngModel name="isAdmin" type="checkbox" role="switch" id="isAdmin">
                                <label class="form-check-label" for="isAdmin">Administrator/in</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-person-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Speichern</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="updatePersonModal" tabindex="-1" role="dialog" aria-labelledby="personEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePersonModalLabel">Person {{editPerson?.firstName}} editieren</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="form-group mb-3">
                            <label for="firstName">Vorname</label>
                            <input type="text" ngModel="{{editPerson?.firstName}}" #editfirstName="ngModel" [class.is-valid]="editfirstName.valid && editfirstName.touched" [class.is-invalid]="editfirstName.invalid && (editfirstName.dirty || editfirstName.touched)" name="firstName"
                                class="form-control" id="firstName" placeholder="Vorname" required>
                            <div *ngIf="editfirstName.invalid && (editfirstName.dirty || editfirstName.touched)" class="invalid-feedback">
                                <div *ngIf="editfirstName.errors?.['required']">
                                    Der Vorname wird benötigt.
                                </div>
                            </div>
                            <label for="lastName">Nachname</label>
                            <input type="text" ngModel="{{editPerson?.lastName}}" #editlastName="ngModel" [class.is-valid]="editlastName.valid && editlastName.touched" [class.is-invalid]="editlastName.invalid && (editlastName.dirty || editlastName.touched)" name="lastName" class="form-control"
                                id="lastName" placeholder="Nachname" required>
                            <div *ngIf="editlastName.invalid && (editlastName.dirty || editlastName.touched)" class="invalid-feedback">
                                <div *ngIf="editlastName.errors?.['required']">
                                    Der Nachname wird benötigt.
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="dateOfBirth">Geburtsdatum</label>
                            <input type="date" ngModel="{{editPerson?.dateOfBirth}}" #editdateOfBirth="ngModel" [class.is-valid]="editdateOfBirth.valid && editdateOfBirth.touched" [class.is-invalid]="editdateOfBirth.invalid && (editdateOfBirth.dirty || editdateOfBirth.touched)"
                                name="dateOfBirth" class="form-control" id="dateOfBirth" placeholder="Geburtsdatum" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="emailaddressPlayer">Email Address</label>
                            <input type="email" ngModel="{{editPerson?.emailaddressPlayer}}" #editemail="ngModel" [class.is-valid]="editemail.valid && editemail.touched" [class.is-invalid]="editemail.invalid && (editemail.dirty || editemail.touched)" name="emailaddressPlayer" class="form-control"
                                id="emailaddressPlayer" placeholder="name@gmail.com" required email>
                            <div *ngIf="editemail.invalid && (editemail.dirty || editemail.touched)" class="invalid-feedback">
                                <div *ngIf="editemail.errors?.['required']">
                                    Die Emailadresse wird benötigt.
                                </div>
                                <div *ngIf="editemail.errors?.['email']">
                                    Das ist keine gültige Emailadresse.
                                </div>
                            </div>
                            <label for="gender">Geschlecht</label>
                            <select class="form-select" ngModel="{{editPerson?.gender}}" ngModel #editgender="ngModel" [class.is-valid]="editgender.valid && editgender.touched" [class.is-invalid]="editgender.invalid && (editgender.dirty || editgender.touched)" name="gender" class="form-control"
                                id="gender" aria-label="Geschlecht" required>
                                <option value="m">männlich</option>
                                <option value="f">weiblich</option>
                                <option value="d">divers</option>
                            </select>
                            <label for="mobileNumberPlayer">Telefonnummer (mobil)</label>
                            <input type="tel" ngModel="{{editPerson?.mobileNumberPlayer}}" #editmobileNumber="ngModel" [class.is-valid]="editmobileNumber.valid && editmobileNumber.touched" [class.is-invalid]="editmobileNumber.invalid && (editmobileNumber.dirty || editmobileNumber.touched)"
                                name="mobileNumberPlayer" class="form-control" id="mobileNumberPlayer" placeholder="Telefonnummer" pattern="\+\d{1,2} \d{2} \d{3} \d{2} \d{2}" required>
                            <div *ngIf="editmobileNumber.invalid && (editmobileNumber.dirty || editmobileNumber.touched)" class="invalid-feedback">
                                <div *ngIf="editmobileNumber.errors?.['required']">
                                    Die Telefonnummer wird benötigt.
                                </div>
                                <div *ngIf="editmobileNumber.errors?.['pattern']">
                                    Die Telefonummer sollte das Format "+41 78 888 88 88" haben.
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="street">Strasse</label>
                                    <input type="text" ngModel="{{editPerson?.street}}" #editstreet="ngModel" name="street" [class.is-valid]="editstreet.valid && editstreet.touched" [class.is-invalid]="editstreet.invalid && (editstreet.dirty || editstreet.touched)" class="form-control"
                                        id="street" placeholder="Strasse" required>
                                </div>
                                <div class="col-md-4">
                                    <label for="streetNb">Nummer</label>
                                    <input type="text" ngModel="{{editPerson?.streetNb}}" #editstreetNb="ngModel" name="streetNb" [class.is-valid]="editstreetNb.valid && editstreetNb.touched" [class.is-invalid]="editstreetNb.invalid && (editstreetNb.dirty || editstreetNb.touched)" class="form-control"
                                        id="streetNb" placeholder="" required>
                                </div>
                                <div *ngIf="(editstreet.invalid && (editstreet.dirty || editstreet.touched)) || (editstreetNb.invalid && (editstreetNb.dirty || editstreetNb.touched))" class="invalid-feedback">
                                    <div *ngIf="editstreet.errors?.['required'] || editstreetNb.errors?.['required']">
                                        Die Strasse und die Hausnummer wird benötig.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="postalCode">PLZ</label>
                                    <input type="number" ngModel="{{editPerson?.postalCode}}" #editpostalCode="ngModel" name="postalCode" [class.is-valid]="editpostalCode.valid && editpostalCode.touched" [class.is-invalid]="editpostalCode.invalid && (editpostalCode.dirty || editpostalCode.touched)"
                                        class="form-control" id="postalCode" placeholder="PLZ" required pattern="\+\d{4}">
                                    <div *ngIf="editpostalCode.invalid && (editpostalCode.dirty || editpostalCode.touched)" class="invalid-feedback">
                                        <div *ngIf="editpostalCode.errors?.['required']">
                                            Die Postleitzahl wird benötigt.
                                        </div>
                                        <div *ngIf="mobileNumber.errors?.['pattern']">
                                            Die Postleitzahl sollte vierstellig sein.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <label for="location">Ort</label>
                                    <input type="text" ngModel="{{editPerson?.location}}" #editlocation="ngModel" name="location" [class.is-valid]="editlocation.valid && editlocation.touched" [class.is-invalid]="editlocation.invalid && (editlocation.dirty || editlocation.touched)" class="form-control"
                                        id="location" placeholder="Ort" required>
                                </div>
                                <div *ngIf="editlocation.invalid && (editlocation.dirty || editlocation.touched)" class="invalid-feedback">
                                    <div *ngIf="editlocation.errors?.['required']">
                                        Der Ort wird benötigt.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" ngModel="{{editPerson?.isPlayer}}" [checked]="{{editPerson?.isPlayer}}" name="isPlayer" type="checkbox" id="isPlayer">
                                <label class="form-check-label" for="isPlayer">Spieler/in</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" ngModel="{{editPerson?.isTrainer}}" name="isTrainer" type="checkbox" role="switch" id="isTrainer">
                                <label class="form-check-label" for="isTrainer">Trainer/in</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" ngModel="{{editPerson?.isAdmin}}" name="isAdmin" type="checkbox" role="switch" id="isAdmin">
                                <label class="form-check-label" for="isAdmin">Administrator/in</label>
                            </div>
                        </div>
                        <input type="hidden" ngModel="{{editPerson?.id}}" name="id" class="form-control" id="id" placeholder="">

                        <div class="modal-footer">
                            <button type="button" id="edit-person-form" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                            <button (click)="onUpdatePerson(editForm.value)" data-dismiss="modal" class="btn btn-primary">Speichern</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deletePersonModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Person löschen</h5>
                    <button type="button" #closeDeleteModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bist du sicher, dass du die Person {{deletePerson?.firstName}} {{deletePerson?.lastName}} löschen möchtest?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nein</button>
                        <button (click)="onDeletePerson(deletePerson!.id)" class="btn btn-danger" data-dismiss="modal">Ja</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification for no persons -->
<div *ngIf="persons?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Keine Personen!</h4>
        <p>(Noch) keine Personen gefunden.</p>
    </div>
</div>