<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">{{confirmTitle}}</h5>
                <button type="button" #closeConfirmModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{confirmMessage}}</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nein</button>
                    <button (click)="onConfirm()" class="btn btn-danger" data-dismiss="modal">Ja</button>
                </div>
            </div>
        </div>
    </div>
</div>