<div class="modal fade" id="removeContactPersonModal" tabindex="-1" role="dialog" aria-labelledby="removeModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModelLabel">Kontaktperson entfernen</h5>
                <button type="button" #closeRemoveModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bist du sicher, dass du {{removeContactPerson?.contactPerson?.firstName}} {{removeContactPerson?.contactPerson?.lastName}} als Kontaktperson von {{removeContactPerson?.firstName}} {{removeContactPerson?.lastName}} entfernen möchtest?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nein</button>
                    <button (click)="onRemoveContactPerson(removeContactPerson!.contactPerson!.id, removeContactPerson!.id)" class="btn btn-danger" data-dismiss="modal">Ja</button>
                </div>
            </div>
        </div>
    </div>
</div>