<div class="container" id="main-container">
    <div class="btn-group dropleft fixed-button">
        <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i> 
        </button>
        <div class="dropdown-menu">
            <a (click)="onOpenModal('add')" class="dropdown-item tooltips" data-placement="top" data-original-title="ContectualMenu"><i class="bi bi-plus-lg"></i> Team hinzufügen</a>
        </div>
    </div>
    <app-alert class="ms-1" [alert]="alert" [fading]="false" [type]="alertType" *ngIf="alert" (close)="alert=null;"></app-alert>
    <div class="row">
        <div *ngFor="let team of teams" class="col-md-6 col-xl-3">
            <div class="card main-card m-b-30">
                <div class="card-body row">
                    <div class="col-4">
                        <img src="assets/volleyball.png" alt="" class="img-fluid rounded-circle w-60">
                    </div>
                    <div class="col-8 card-title align-self-center mb-0">
                        <h5>{{team?.teamName}}</h5>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="p-1"><i class="bi bi-calendar-check float-right"></i></div>
                            <div class="p-1">Maximalalter: {{team?.maxAge}} Jahre</div>
                        </div>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="float btn-group btn-group-sm">
                            <a (click)="onOpenModal('addteammembertoteam', team)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Add"><i class="bi bi-plus-lg"></i> </a>
                        </div>
                        <div class="float-end btn-group btn-group-sm">
                            <a (click)="onOpenModal('edit', team)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="bi bi-pencil"></i> </a>
                            <a (click)="onOpenModal('delete', team)" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="bi bi-x-lg"></i></a>
                        </div>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div *ngIf="team?.teammembers?.length == 0" class="d-flex flex-row">
                            <div class="p-1"><i class="bi bi-x-circle-fill float-right"></i></div>
                            <div class="p-1">Es gibt keine Mitglieder in diesem Team</div>
                        </div>
                    </li>
                    <li class="list-group-item" *ngFor="let teammember of team?.teammembers">
                        <span>{{teammember["firstName"]}} {{teammember["lastName"]}}</span>
                        <div class="float-end btn-group btn-group-sm">
                            <!--<a (click)="onOpenModal('edit', team)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="bi bi-pencil"></i> </a>-->
                            <a (click)="onOpenModal('deleteteammember', team, teammember)" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="bi bi-x-lg"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Add Team Form-->
    <addteam-form (getTeams)="getTeams()"></addteam-form>

    <!-- Edit Team Form -->
    <editteam-form (getTeams)="getTeams()" [editTeam]="editTeam"></editteam-form>

    <!-- Delete Modal -->
    <deleteteam-form (getTeams)="getTeams()" [deleteTeam]="deleteTeam"></deleteteam-form>

    <!-- Remove Teammember Modal -->
    <deleteteammemberfromteam-form (getTeams)="getTeams()" [removeFromTeam]="removeFromTeam" [removeTeammember]="removeTeammember"></deleteteammemberfromteam-form>

    <!-- Add Team Form-->
    <app-add-teammember-to-team-form (getTeams)="getTeams()" [addToTeam]="addToTeam"></app-add-teammember-to-team-form>


</div>

<!-- Notification for no teams -->
<div *ngIf="teams?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Keine Teams!</h4>
        <p>(Noch) keine Teams gefunden.</p>
    </div>
</div>