<div class="modal fade" id="updateTeamModal" tabindex="-1" role="dialog" aria-labelledby="TeamEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateTeamModalLabel">Team {{editTeam?.teamName}} editieren</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-alert [alert]="alert" [fading]="true" [type]="alertType" [@fade]="alert" *ngIf="alert" (close)="alert=null;"></app-alert>
                <form #editForm="ngForm">
                    <div class="form-group mb-3">
                        <label for="teamName">Teamname</label>
                        <input type="text" ngModel="{{editTeam?.teamName}}" #editTeamName="ngModel" [class.is-valid]="editTeamName.valid && editTeamName.touched" [class.is-invalid]="editTeamName.invalid && (editTeamName.dirty || editTeamName.touched)" name="teamName" class="form-control"
                            id="teamName" placeholder="Teamname" required>
                        <div *ngIf="editTeamName.invalid && (editTeamName.dirty || editTeamName.touched)" class="invalid-feedback">
                            <div *ngIf="editTeamName.errors?.['required']">
                                Der Teamname wird benötigt.
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="maxAge">Maximalalter in Jahren</label>
                        <input type="number" ngModel="{{editTeam?.maxAge}}" #editmaxAge="ngModel" name="maxAge" [class.is-valid]="editmaxAge.valid && editmaxAge.touched" [class.is-invalid]="editmaxAge.invalid && (editmaxAge.dirty || editmaxAge.touched)" class="form-control"
                            id="maxAge" placeholder="Maximalalter" required pattern="\d{1,2}">
                        <div *ngIf="editmaxAge.invalid && (editmaxAge.dirty || editmaxAge.touched)" class="invalid-feedback">
                            <div *ngIf="editmaxAge.errors?.['required']">
                                Das Maximalalter wird benötigt. Falls es kein Maximalalter gibt, wählen Sie 99.
                            </div>
                            <div *ngIf="editmaxAge.errors?.['pattern']">
                                Das Maximalalter sollte ein- oder zweistellig sein.
                            </div>
                        </div>
                    </div>
                    <input type="hidden" ngModel="{{editTeam?.teamId}}" name="teamId" class="form-control" id="teamId" placeholder="">

                    <div class="modal-footer">
                        <button type="button" id="edit-team-form" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                        <button (click)="onUpdateTeam(editForm.value)" data-dismiss="modal" class="btn btn-primary">Speichern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>